.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.img__banner {
  display: block;
  width: 100%;
  object-fit: cover;
  display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-pagination-bullet {
  width: 5px !important;
  height: 5px !important;
}