/* customSwiper.css */

.mySwiper .swiper-button-next,
.mySwiper .swiper-button-prev {
    color: #fff; /* Cambia el color */
    background: rgba(0, 0, 0, 0.2); /* Fondo semitransparente, cambia según necesidades */
    border-radius: 50%; /* Hace que el fondo sea circular */
    width: 40px; /* Anchura del botón */
    height: 40px; /* Altura del botón */
    display: flex;
    align-items: center;
    justify-content: center;
}

.mySwiper .swiper-button-next::after,
.mySwiper .swiper-button-prev::after {
    font-size: 1.5rem; /* Cambia el tamaño del icono aquí */
}

/* Estilo para el estado de hover */
.mySwiper .swiper-button-next:hover,
.mySwiper .swiper-button-prev:hover {
    background: rgba(0, 0, 0, 0.3); /* Fondo más oscuro al hacer hover */
}

/* Puedes añadir más personalizaciones aquí si lo deseas */
