@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    height: 100vh;
    font-family: 'Poppins', 'Montserrat', sans-serif;
}

/* Estilizando la barra de desplazamiento */
::-webkit-scrollbar {
    width: 4px; /* Ancho de la barra de desplazamiento */
    height: 4px; /* Altura para desplazamiento horizontal */
}

/* Estilizando el pulgar (la parte que se mueve) */
::-webkit-scrollbar-thumb {
    background-color: #E0E0E0; /* Color del pulgar */
    border-radius: 12px; /* Bordes redondeados */
}

/* Estilizando la pista de desplazamiento */
::-webkit-scrollbar-track {
    background: #F2F2F2; /* Color de fondo de la pista */
}
